.perfildeusuario {
    display: flex;
}
.control-formulario {
    padding: 15px;

}

.radio {
    padding: 15px;
    margin: 10px;
    
}

.checkbox {
    padding: 15px;
    margin: 10px;
}

.etiqueta-formulario {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}

.input-form {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.boton-enviar, .boton-borrar{
    background-color: #048a16;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;

}
.boton-borrar {
    background-color: rgb(217, 119, 97) ;

}

.boton-enviar a {
    color: #fff;
    text-decoration: none;
}

.botones {
    display: flex;
    justify-content: space-around;
    
}

.div-form-login {
    margin: 80px;
    text-align: center;
    display: block;
}

.input-user, .input-pswd {
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 80%;
    
}

.boton-enviar-login {
    background-color: #1259c3;
    border: none;
    font-size: 24px;
    color: #fff;
    padding: 5px ;
    border-radius: 5px;
    text-decoration: none;
    width: 80%;
}

.boton-enviar-login:hover {
    background-color: #0022AA;
}

.boton-enviar-login a {
    color: #fff;
    text-decoration: none;
}